.container {
  .row {
    margin-top: 50px;

    .span9, .span3 {
      float: right;
    }

    .span3 {
      width: 200px;
    }

    .span9 {
      width: 940px;
    }
  }
}

.simple_form {
  textarea {
    height: 100px;
    width: 300px;
  }
}

.clear {
  clear: both;
}
