.products {
  .product {
    position: relative;
    float: left;
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 0px 10px 15px;

    .image {
      height: 250px;
      overflow: hidden;
    }

    .info {
      position: absolute;
      bottom: 0;
      height: 50px;
      width: 200px;
      background: #fff;
    }
  }
}
